  <html><head><title>Login</title></head>
  <body>
  <div>
  <form method="post" action="login">
  User Name : <input name="userName"><br>
  Password    : <input name="password"><br>
 
  <input type="submit">
  </form>
  </div>

  </body></html>