body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 10px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 150%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.center button
{
      text-align: center;
      margin-top:20px;
}
.btn{
    background-color:lightyellow;
}

