body {
    font-family: sans-serif;
    margin-top: 10px;
    background-color:lightgrey;
}

.center {
    text-align: center;
    
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.center button
{
      text-align: center;
      margin-top:20px;
}
.rightbody
{
    height:300px;
    width: 200px;
    float: right;
    margin: 0;
    
}
.leftbody
{	height:560px;
    width: 770px;
    float: left;
    margin: 0;
}
.btn{
    background-color:blue;
    height:50px; 
    color:white;
      font-weight: bold;
    font-family: sans-serif; 
}

